* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #026873;
    background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.07) 50%,
            transparent 50%
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    height: 100vh;
}

.contenedor {
    padding: 20px 34px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
    height:100vh;
}

@media (min-width: 750px) {
    .contenedor {
        width: 100%;
        height: 940px;
        display: flex;
        align-items: center;
        gap: 50px;
    }
}

.container {
    display: flex;
    gap: 30px;
}

@media (min-width: 750px) {
    title-text {
        padding-top: 150px;
        font-size: 80px;
    }
}

@media (min-width: 750px) {
    instructions-comp {
        padding-top: 150px;
        font-size: 80px;
        max-width: 350px;
    }
}

.name{
    border: 10px solid #001997;
                padding:17px 13px;
                width: 350px;
                height: 87px;
                border-radius: 10px;
                font-size: 38px; 
                font-family: 'Odibee Sans', cursive;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
}

.code-room {
    font-size: 40px;
    color: red;
}

.compartir-code {
    font-size: 40px;
}